h1 {
    color: rgb(153, 80, 11) 
}

h2 {
    color:rgb(192, 97, 8)
}

h3 {
    color:rgb(165, 101, 18)
}

p {
    color:rebeccapurple
}
body {
    background:palegreen
}

li {
    color:rebeccapurple
}